.block {
  padding: 60px 0;
}
.block-sm {
  padding: 30px 0;
}
.main-menu {
  background: $background-color;
  min-height: 75px;
  border-bottom: 0;
  border-radius: 0;
  margin-bottom: 0;
  .navbar-nav > li > a {
    padding-top: 26px;
    padding-bottom: 26px;
    color: $grey-color;
    border-bottom: 3px solid $background-color;
    &:hover, &:focus, &:active {
      color: $grey-color;
      background: none;
      border-bottom: 3px solid $brand-color;
    }
  }
}
.hero, .accent-block {
  color: $background-color;
  .btn {
    background: $background-color;
    color: $brand-color;
  }
}
.hero, .hero:before, .hero:after {
  background-image: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0, #3B6FFF),
    color-stop(1, #3556B2)
  );
  background-image: -o-linear-gradient(right bottom, #3B6FFF 0%, #3556B2 100%);
  background-image: -moz-linear-gradient(right bottom, #3B6FFF 0%, #3556B2 100%);
  background-image: -webkit-linear-gradient(right bottom, #3B6FFF 0%, #3556B2 100%);
  background-image: -ms-linear-gradient(right bottom, #3B6FFF 0%, #3556B2 100%);
  background-image: linear-gradient(to right bottom, #3B6FFF 0%, #3556B2 100%);
}
.hero {
  padding: 90px 0;
  position: relative;
  overflow: hidden;
  &:before, &:after {
    transform: skewX(-30deg);
    transform-origin: 100%;
    content: ' ';
    display: block;
    left: 0;
    top: 0%;
    bottom: 0%;
    position: absolute;
    transform: skewX(-30deg);
    transform-origin: 100%;
  }
  &:after {
    width: 55%;
    z-index: 2;
  }
  &:before {
    width: 30%;
    z-index: 3;
  }
  .hero-content {
    position: relative;
    z-index: 4;
    width: 70%;
  }
  .hero-image {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    width: 800px;
    background: $background-color url('images/img-hero.png');
    background-size: cover;
  }
}
